
@mixin card ($border-color) {
    height: 250px;
    width: 350px;
    position: relative;
    border-top: 4px solid $border-color;
    border-radius: 2%;
    box-shadow:  0 10px 20px 1px lighten(map-get($colors-neutral, header), 50%);
    padding: 32px;
    margin-bottom: 30px;
    box-sizing: border-box;
    background-color: lighten(map-get($colors-neutral, background), $amount: 30%);
}