
@mixin card ($border-color) {
    height: 250px;
    width: 350px;
    position: relative;
    border-top: 4px solid $border-color;
    border-radius: 2%;
    box-shadow:  3px 0 20px 10px #ddd;
    box-shadow:  0 3px 20px 6px #ddd;
    box-shadow:  0 -3px 20px 6px #ddd;
    padding: 32px;
    margin-bottom: 30px;
    box-sizing: border-box;
}